body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f7f7f7;
}

.calculator {

    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

input[type="text"] {
    width: 97%;
    height: 40px;
    font-size: 20px;
    text-align: right;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 5px;
}

input[type="button"] {
    width: 50px;
    height: 50px;
    font-size: 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #4CAF50;
    color: #ffffff;
}

input[type="button"]:hover {
    background-color: #45a049;
}

input[type="button"].operator {
    background-color: #FF9800;
}

input[type="button"].operator:hover {
    background-color: #e68a00;
}
